# Data Science Tolls and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* popular languages that Data Scientists use
* commonly used libraries used by Data Scientists
* examples of evaluating arithmetic expressions in Python

 Some of the popular languages that Data Scientists use are:
 1. python
 2. R
 3. c++

Some of the commonly used libraries used by Data Scientists include:
 1. pandas
 2. numpy
 3. Scikit-learn

|Data Science Tools|
|------|
|visual studio|
|jupyter lap|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Hatem yousef